# cache
__pycache__/
.mypy_cache/
.ipynb_checkpoints/
.pytest_cache

# coverage
htmlcov/
.coverage

# locks
*.swp
Pipfile.lock

# configuration
.vscode/
.python-version
.env

# big temporary files
docsrc/tutorial/md_example/*.npy