[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
jupyter = "*"
jupyter_contrib_nbextensions = "*"
scikit-learn = "*"
pyqt5 = "*"
cython = "*"
flake8 = "*"
mypy = "*"
black = "*"
pytest = "*"

[packages]
numpy = "*"
matplotlib = "*"
pandas = "*"
sortedcontainers = "*"
scipy = "*"
colorama = "*"
tqdm = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
