[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
ipython = "*"
jupyter = "*"
sklearn = "*"

[packages]
numpy = "*"
matplotlib = "*"
pandas = "*"
sortedcontainers = "*"
scipy = "*"

[requires]
python_version = "3.7"
