[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
jupyter = "*"
jupyter_contrib_nbextensions = "*"
rise = "*"
pyqt5 = "*"
cython = "*"
flake8 = "*"
mypy = "*"
black = "*"
pytest = "*"
sphinx = "*"
memory-profiler = "*"
line-profiler = "*"
ipympl = "*"
setuptools = "*"
wheel = "*"
twine = "*"
pytest-repeat = "*"
pytest-cov = "*"
rstcheck = "*"
nbsphinx = "*"
pygments = "*"
bump2version = "*"
pydpc = "*"
hdbscan = "*"
pytest-regressions = "*"

[packages]
numpy = "*"
matplotlib = "*"
pandas = "*"
scipy = "*"
tqdm = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
